tr.active_0 td {
  color: #bbb;
}
button.flag {
  background: transparent;
  color: inherit;
  margin: 0;
  width: 100%;
  padding: 0;
}
button.flag:focus {
    outline: none;
}
.form_imgform button[type=submit] {
  display: none;
}
.openbox{border: 1px solid #ccc;background-color:#ddd;margin-bottom:20px;}
.openbox_inner{padding:20px;}

.formlabel{font-weight:bold;font-size:9pt;}
.form_inner{padding:20px;}
.form_footer{}

td > table {
  background: transparent;
  border: none;
  margin-bottom: 0;
  table-layout: auto;
}
button.minibutton{
  padding:3px 8px;
}

span.red{display:block;background-color:red;color:white;}